body{
	background-color: #333;
}
#quadImageWrapper{
	background-image: url("../assets/img/quadcopter_silhouette_white.png");
	background-size: fit;
	background-color: #333;
	display: block;
	width: 400px;
	height: 400px;
}